# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
lib-cov

# Coverage directory
coverage

# nyc test coverage
.nyc_output

# Binaries for Node
node_modules/

# dotenv environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/
